body
{
  font-family: 'Open Sans', sans-serif;
  color:#FFFFFF;

    font-weight: bold;
}

.video
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.one
{
position:fixed;
  width:32%;
  height:65%;
  margin:100px 580px auto;
  background: rgba(0, 0, 0, 0.5);
 -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  padding: 50px;
}
.two
{
  font-family: "Bleeding Cowboys";
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}
.abc
{
  text-align: center;
  position:fixed;
  margin: 0px 10px auto;
  border-radius:15px;
  width:220px;
  height:40px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  color:#FFFFFF;
  font-size: 17px;
}
.def
{
  text-align: center;
  margin: 0px 380px auto;
  border-radius:15px;
  width:220px;
  height:40px;
  margin-bottom: 66px;
  background: rgba(0, 0, 0, 0.5);
  color:#FFFFFF;
  font-size: 17px;
}
.ghi
{
  text-align: center;
  margin: 0px 70px auto;
  border-radius:15px;
  width:500px;
  height:40px;
  margin-bottom: 70px;
  background: rgba(0, 0, 0, 0.5);
  color:#FFFFFF;
  font-size: 17px;
}
.jkl
{
  text-align: center;
  position:fixed;
  margin: 0px 10px auto;
  border-radius:15px;
  width:220px;
  height:40px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  color:#FFFFFF;
  font-size: 17px;
}
.mno
{
  text-align: center;
  margin: 0px 380px auto;
  border-radius:15px;
  width:220px;
  height:40px;
  margin-bottom: 66px;
  background: rgba(0, 0, 0, 0.5);
  color:#FFFFFF;
  font-size: 17px;
}
.hello

  {
    height:50px;
    font-family:"Bleeding Cowboys";
    position:left;
    margin: 0px 240px ;
    border-radius:15px;
    background: rgba(0, 0, 0, 0.5);
    width:150px;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 15px;
    color:#FFFFFF;
}
::placeholder
{
    color: #FFFFFF;
    opacity: 1;
    text-align:center;
    font-family: "Bleeding Cowboys";
}
